.dropdownLang {
    right: 24px;
    top: 24px;
    padding: 14px;
    background-color: white;
    position: absolute;
    border-radius: 8px;
    width: 100%;
    max-width: 80px;
    justify-content: space-between;
}