.group {
    align-items: center;
    margin-right: 16px !important;
    position: relative;
    .title {
        flex-shrink: 0;
        margin-right: 4px;
        &.space{
            margin-right: 16px;
        }
    }
}